[package]
name = "soulsy"
description = "A minimal Souls-like HUD for Skyrim AE. SKSE plugin."
version = "0.6.0"
edition = "2021"
authors = ["C J Silverio <ceejceej@gmail.com>"]
license = "GPL-3.0"
readme = "README.md"
keywords = ["skyrim", "c++"]

[lib]
crate-type = ["staticlib"]

[dependencies]
anyhow = "1.0.71"
cxx = { version = "1.0.100", features = ["c++20"] }
log = "0.4.19"
once_cell = "1.18.0"
rust-ini = "0.19.0"
serde = { version = "1.0.167", features = ["derive"] }
simplelog = "0.12.1"
strum = { version = "0.25.0", features = ["derive"] }
toml = "0.7.6"

[build-dependencies]
cxx-build = "1.0"
